{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                {{ form_start(tokenForm) }}
                    {{ form_row(tokenForm.token, { 'id' : 'tokenField' }) }}

                    <button type="submit" class="btn">Send QR code</button>
                {{ form_end(tokenForm) }}

            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn tooltipped" id="generateButton" onclick="generateToken()"
                        data-position="right" data-delay="50" data-tooltip="Token will be also copied to clipboard">
                    Generate a token
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('generateToken.js') }}"></script>
{% endblock %}